SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pathogen](
	[pathogen_id] [int] IDENTITY(1,1) NOT NULL,
	[pathogen_nm] [nvarchar](100) NOT NULL,
	[pathogenType_nm] [nvarchar](100) NOT NULL,
	[pathogenType_id] [int] NULL,
 CONSTRAINT [PK_Pathogen] PRIMARY KEY CLUSTERED 
(
	[pathogen_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Pathogen_nm] UNIQUE NONCLUSTERED 
(
	[pathogen_nm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pathogen]  WITH CHECK ADD  CONSTRAINT [FK_Pathogen_PathogenType] FOREIGN KEY([pathogenType_id])
REFERENCES [dbo].[PathogenType] ([pathogenType_id])
GO
ALTER TABLE [dbo].[Pathogen] CHECK CONSTRAINT [FK_Pathogen_PathogenType]
GO
