SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Terry Watts
-- Create date: 28-JUL-2023
-- Description: import of register
-- =============================================
CREATE PROCEDURE [dbo].[sp_import_jap_chem]
AS
BEGIN
   DECLARE 
     @fn          NVARCHAR(30)  = N'IMPRT_JAP_CHEM'
    ,@row_count   INT

   EXEC sp_log 2, @fn, '00: starting';
   EXEC sp_register_call @fn;
   TRUNCATE TABLE japChemList;

   INSERT INTO JapChemical (name, [type]) VALUES
    ('1,3-dichloropropene','INSECTICIDE')
   ,('Abamectin','INSECTICIDE')
   ,('Acephate','INSECTICIDE')
   ,('Acequinocyl','INSECTICIDE')
   ,('Acetamiprid','INSECTICIDE')
   ,('Acetic and fatty acid esters of glycerol','INSECTICIDE')
   ,('Acrinathrin','INSECTICIDE')
   ,('Acynonapyr','INSECTICIDE')
   ,('Adoxphyes orana fasciata granulosis virus','INSECTICIDE')
   ,('Afidopyropen','INSECTICIDE')
   ,('Alanycarb','INSECTICIDE')
   ,('Allethrin','INSECTICIDE')
   ,('Aluminium phosphide','INSECTICIDE')
   ,('Amblydromalus limonicus (Garman & McGregor)','INSECTICIDE')
   ,('Amblyseius (Neoseiulus) californicus (McGregor)','INSECTICIDE')
   ,('Amblyseius cucumeris Oudemans','INSECTICIDE')
   ,('Amitraz','INSECTICIDE')
   ,('Aphelinus asychis Walker','INSECTICIDE')
   ,('Aphidius colemani Viereck ','INSECTICIDE')
   ,('Aphidius gifuensis (Ashmead)','INSECTICIDE')
   ,('Bacillus thuringiensis Berliner','INSECTICIDE')
   ,('Beauveria bassiana (Balsamo) Vuillemin','INSECTICIDE')
   ,('Beauveria brongniartii (Sacc.) Petch','INSECTICIDE')
   ,('Benfuracarb','INSECTICIDE')
   ,('Bensultap','INSECTICIDE')
   ,('Benzpyrimoxan','INSECTICIDE')
   ,('Bifenazate','INSECTICIDE')
   ,('Bifenthrin','INSECTICIDE')
   ,('Broflanilide','INSECTICIDE')
   ,('Buprofezin','INSECTICIDE')
   ,('Cadusafos','INSECTICIDE')
   ,('Carbaryl','INSECTICIDE')
   ,('Carbon dioxide','INSECTICIDE')
   ,('Carbosulfan','INSECTICIDE')
   ,('Cartap','INSECTICIDE')
   ,('Chlorantraniliprole','INSECTICIDE')
   ,('Chlorfenapyr','INSECTICIDE')
   ,('Chlorfluazuron','INSECTICIDE')
   ,('Chloropicrin','INSECTICIDE')
   ,('Chlorpyrifos','INSECTICIDE')
   ,('Chromafenozide','INSECTICIDE')
   ,('Chrysoperla carnea Stephens','INSECTICIDE')
   ,('Citric acid esters of mono- and diglycerides of fatty acid','INSECTICIDE')
   ,('Clofentezine','INSECTICIDE')
   ,('Clothianidin','INSECTICIDE')
   ,('Cyanophos','INSECTICIDE')
   ,('Cyantraniliprole','INSECTICIDE')
   ,('Cyclaniliprole','INSECTICIDE')
   ,('Cyenopyrafen','INSECTICIDE')
   ,('Cyflumetofen','INSECTICIDE')
   ,('Cyfluthrin','INSECTICIDE')
   ,('Cyhalothrin','INSECTICIDE')
   ,('Cypermethrin','INSECTICIDE')
   ,('Cyromazine','INSECTICIDE')
   ,('Dacnusa sibirica Telenga','INSECTICIDE')
   ,('Diafenthiuron','INSECTICIDE')
   ,('Diazinon','INSECTICIDE')
   ,('Dienochlor','INSECTICIDE')
   ,('Diflubenzuron','INSECTICIDE')
   ,('Diglyphus isaea (Walker) ','INSECTICIDE')
   ,('Dimethoate','INSECTICIDE')
   ,('Dinotefuran','INSECTICIDE')
   ,('Edible blended oil (Safflower oil, cottonseed oil)','INSECTICIDE')
   ,('Emamectine-benzoate','INSECTICIDE')
   ,('Encarsia formosa Gahan','INSECTICIDE')
   ,('Eretmocerus californicus Rose & Zolnerowich','INSECTICIDE')
   ,('Eretmocerus mundus (Mercet) ','INSECTICIDE')
   ,('Esfenvalerate','INSECTICIDE')
   ,('Ethiprole','INSECTICIDE')
   ,('Etofenprox','INSECTICIDE')
   ,('Etoxazole','INSECTICIDE')
   ,('Fenitrothion','INSECTICIDE')
   ,('Fenobucarb','INSECTICIDE')
   ,('Fenothiocarb','INSECTICIDE')
   ,('Fenpropathrin','INSECTICIDE')
   ,('Fenpyroximate','INSECTICIDE')
   ,('Fenvalerate','INSECTICIDE')
   ,('Ferric phosphate','INSECTICIDE')
   ,('Fipronil','INSECTICIDE')
   ,('Flometoquin','INSECTICIDE')
   ,('Flonicamid','INSECTICIDE')
   ,('Flubendiamide','INSECTICIDE')
   ,('Flucythrinate','INSECTICIDE')
   ,('Fluensulfone','INSECTICIDE')
   ,('Flufenoxuron','INSECTICIDE')
   ,('Flupyradifurone','INSECTICIDE')
   ,('Flupyrimin','INSECTICIDE')
   ,('Fluvalinate','INSECTICIDE')
   ,('Fluxametamide','INSECTICIDE')
   ,('Fosthiazate','INSECTICIDE')
   ,('Franklinothrips vespiformis (Craw ford)','INSECTICIDE')
   ,('Glyceryl caprylate','INSECTICIDE')
   ,('Gynaeseius liturivorus (Ehara)','INSECTICIDE')
   ,('Haplothrips brevitubus (Karny)','INSECTICIDE')
   ,('Harmonia axyridis (Pallas)','INSECTICIDE')
   ,('Hexythiazox','INSECTICIDE')
   ,('Homona magnanima granulosis virus','INSECTICIDE')
   ,('Hydrogen cyanide','INSECTICIDE')
   ,('Hydrogenated starch hydrolysate','INSECTICIDE')
   ,('Hydroxypropyl Distarch Phosphate','INSECTICIDE')
   ,('Imicyafos','INSECTICIDE')
   ,('Imidacloprid','INSECTICIDE')
   ,('Indoxacarb','INSECTICIDE')
   ,('Isoxathion','INSECTICIDE')
   ,('Lepimectin','INSECTICIDE')
   ,('Levamisole hydrochloride','INSECTICIDE')
   ,('Lufenuron','INSECTICIDE')
   ,('Malathion','INSECTICIDE')
   ,('Metaflumizone','INSECTICIDE')
   ,('Metaldehyde','INSECTICIDE')
   ,('Metam','INSECTICIDE')
   ,('Metam-sodium','INSECTICIDE')
   ,('Metarhizium anisopliae (Metschn) Sorokin','INSECTICIDE')
   ,('Methidathion','INSECTICIDE')
   ,('Methomyl','INSECTICIDE')
   ,('Methoxyfenozide','INSECTICIDE')
   ,('Methyl bromide','INSECTICIDE')
   ,('Methyl iodide','INSECTICIDE')
   ,('Methyl isothiocyanate','INSECTICIDE')
   ,('Milbemectin','INSECTICIDE')
   ,('Morantel tartrate','INSECTICIDE')
   ,('Nemadectin','INSECTICIDE')
   ,('Neochrysocharis formosa (Westwood)','INSECTICIDE')
   ,('Nesidiocoris tenuis (Reuter)','INSECTICIDE')
   ,('Nitenpyram','INSECTICIDE')
   ,('Novaluron','INSECTICIDE')
   ,('Octanoic/Decanoic glyceride ','INSECTICIDE')
   ,('Orius strigicollis (Poppius) ','INSECTICIDE')
   ,('Oxamyl','INSECTICIDE')
   ,('Oxazosulfyl ','INSECTICIDE')
   ,('Paecilomyces fumosoroseus (Wize) Brown & Smith','INSECTICIDE')
   ,('Paecilomyces tenuipes (Peck) Samson','INSECTICIDE')
   ,('Pasteuria penetrans','INSECTICIDE')
   ,('Permethrin','INSECTICIDE')
   ,('Petroleum oil','INSECTICIDE')
   ,('Phenthoate','INSECTICIDE')
   ,('Phytoseiulus persimilis Athias-Henriot','INSECTICIDE')
   ,('Polyglycerol esters of fatty acid','INSECTICIDE')
   ,('Profenofos','INSECTICIDE')
   ,('Propargite','INSECTICIDE')
   ,('Propylea japonica (Thunberg)','INSECTICIDE')
   ,('Propylene glycol fatty acid monoester','INSECTICIDE')
   ,('Prothiofos','INSECTICIDE')
   ,('Pyflubumide','INSECTICIDE')
   ,('Pymetrozine','INSECTICIDE')
   ,('Pyrethrins','INSECTICIDE')
   ,('Pyridaben','INSECTICIDE')
   ,('Pyridalyl','INSECTICIDE')
   ,('Pyrifluquinazon','INSECTICIDE')
   ,('Pyrimidifen','INSECTICIDE')
   ,('Pyriproxyfen','INSECTICIDE')
   ,('Rape seed oil','INSECTICIDE')
   ,('Sodium Oleate','INSECTICIDE')
   ,('Sorbitane fatty acid ester','INSECTICIDE')
   ,('Spinetoram','INSECTICIDE')
   ,('Spinosad','INSECTICIDE')
   ,('Spirodiclofen','INSECTICIDE')
   ,('Spiromesifen','INSECTICIDE')
   ,('Spirotetramat','INSECTICIDE')
   ,('Spodoptera litura Nucleopolyhedrovirus','INSECTICIDE')
   ,('Starch','INSECTICIDE')
   ,('Steinernema carpocapsae','INSECTICIDE')
   ,('Steinernema glaseri','INSECTICIDE')
   ,('Sulfoxaflor','INSECTICIDE')
   ,('Sulfuryl fluoride','INSECTICIDE')
   ,('Tebufenozide','INSECTICIDE')
   ,('Tebufenpyrad','INSECTICIDE')
   ,('Teflubenzuron','INSECTICIDE')
   ,('Tefluthrin','INSECTICIDE')
   ,('Tetradifon','INSECTICIDE')
   ,('Tetraniliprole','INSECTICIDE')
   ,('Thiacloprid','INSECTICIDE')
   ,('Thiamethoxam','INSECTICIDE')
   ,('Thiocyclam','INSECTICIDE')
   ,('Thiodicarb','INSECTICIDE')
   ,('Thphlodromips swirskii (Athias-Henriot) ','INSECTICIDE')
   ,('Tolfenpyrad','INSECTICIDE')
   ,('Trichlorfon','INSECTICIDE')
   ,('Triflumezopyrim','INSECTICIDE')
   ,('Ttralomethrin','INSECTICIDE')
   ,('Verticillium lecanii (Zimmerman) Viegas','INSECTICIDE')
   ,('Acibenzolar-S-methyl','FUNGICIDE')
   ,('Ambam','FUNGICIDE')
   ,('Ametoctradin','FUNGICIDE')
   ,('Amisulbrom','FUNGICIDE')
   ,('Azoxystrobin','FUNGICIDE')
   ,('Bacillus amyloliquefaciens','FUNGICIDE')
   ,('Bacillus simplex','FUNGICIDE')
   ,('Bacillus subtilis','FUNGICIDE')
   ,('Benomyl','FUNGICIDE')
   ,('Benthiavalicarb-isopropyl','FUNGICIDE')
   ,('Boscalid','FUNGICIDE')
   ,('Brewed vinegar','FUNGICIDE')
   ,('Calcium polysulfide','FUNGICIDE')
   ,('Captan','FUNGICIDE')
   ,('Chinomethionat','FUNGICIDE')
   ,('Chlorothalonil','FUNGICIDE')
   ,('Coniothyrium minitans Campbell','FUNGICIDE')
   ,('Copper hydroxide ','FUNGICIDE')
   ,('Copper oxychloride','FUNGICIDE')
   ,('Copper sulfate','FUNGICIDE')
   ,('Copper sulfate anhydride','FUNGICIDE')
   ,('Copper sulfate, basic','FUNGICIDE')
   ,('Cyazofamid','FUNGICIDE')
   ,('Cyflufenamid','FUNGICIDE')
   ,('Cymoxanil','FUNGICIDE')
   ,('Cyproconazole','FUNGICIDE')
   ,('Cyprodinil','FUNGICIDE')
   ,('Dazomet','FUNGICIDE')
   ,('DBEDC','FUNGICIDE')
   ,('Dichlobentiazox','FUNGICIDE')
   ,('Diethofencarb','FUNGICIDE')
   ,('Difenoconazole','FUNGICIDE')
   ,('Diflumetorim','FUNGICIDE')
   ,('Dimethomorph','FUNGICIDE')
   ,('Distilled liquid smoke flavouring acetic acid','FUNGICIDE')
   ,('Dithianon','FUNGICIDE')
   ,('Erwinia carotovora subsp. carotovora avirulent strain','FUNGICIDE')
   ,('Ethaboxam','FUNGICIDE')
   ,('Extract of Lentinus edodes mycelia','FUNGICIDE')
   ,('Famoxadone','FUNGICIDE')
   ,('Fenarimol','FUNGICIDE')
   ,('Fenbuconazole','FUNGICIDE')
   ,('Fenhexamid','FUNGICIDE')
   ,('Fenpyrazamine','FUNGICIDE')
   ,('Ferimzone','FUNGICIDE')
   ,('Fluazinam','FUNGICIDE')
   ,('Fludioxonil','FUNGICIDE')
   ,('Fluopicolide','FUNGICIDE')
   ,('Fluopyram','FUNGICIDE')
   ,('Fluoroimide','FUNGICIDE')
   ,('Fluoxastrobin','FUNGICIDE')
   ,('Flusulfamide','FUNGICIDE')
   ,('Flutianil','FUNGICIDE')
   ,('Flutolanil','FUNGICIDE')
   ,('Fluxapyroxad','FUNGICIDE')
   ,('Folpet','FUNGICIDE')
   ,('Fosetyl','FUNGICIDE')
   ,('Fthalide','FUNGICIDE')
   ,('Fumaric acid','FUNGICIDE')
   ,('Furametpyr','FUNGICIDE')
   ,('Glucan extracted from brewing yeast','FUNGICIDE')
   ,('Hexaconazole','FUNGICIDE')
   ,('Hymexazol','FUNGICIDE')
   ,('Hymexazol-potassium ','FUNGICIDE')
   ,('Imibenconazole','FUNGICIDE')
   ,('Iminoctadine triacetate','FUNGICIDE')
   ,('Iminoctadine tris(albesilate) ','FUNGICIDE')
   ,('Inpyrfluxam','FUNGICIDE')
   ,('Ipconazole','FUNGICIDE')
   ,('ipflufenoquin','FUNGICIDE')
   ,('Iprobenfos','FUNGICIDE')
   ,('Iprodione','FUNGICIDE')
   ,('Isofetamid','FUNGICIDE')
   ,('Isoprothiolane','FUNGICIDE')
   ,('Isopyrazam','FUNGICIDE')
   ,('Isotianil','FUNGICIDE')
   ,('Kasugamycin','FUNGICIDE')
   ,('Kresoxim-methyl','FUNGICIDE')
   ,('Lactobacillus Plantarum','FUNGICIDE')
   ,('Mancozeb','FUNGICIDE')
   ,('Mandestrobin','FUNGICIDE')
   ,('Mandipropamid','FUNGICIDE')
   ,('Maneb','FUNGICIDE')
   ,('Mepanipyrim','FUNGICIDE')
   ,('Mepronil','FUNGICIDE')
   ,('Metalaxyl','FUNGICIDE')
   ,('Metalaxyl-M','FUNGICIDE')
   ,('Metyltetraprole','FUNGICIDE')
   ,('Metconazole','FUNGICIDE')
   ,('Metominostrobin','FUNGICIDE')
   ,('Myclobutanil','FUNGICIDE')
   ,('Nonylphenol sulfonic acid copper (II) salt','FUNGICIDE')
   ,('Oxathiapiprolin','FUNGICIDE')
   ,('Oxine-copper','FUNGICIDE')
   ,('Oxolinic acid','FUNGICIDE')
   ,('Oxpoconazole fumarate','FUNGICIDE')
   ,('Oxytetracycline','FUNGICIDE')
   ,('Pefurazoate','FUNGICIDE')
   ,('Pencycuron','FUNGICIDE')
   ,('Penflufen','FUNGICIDE')
   ,('Penthiopyrad','FUNGICIDE')
   ,('Picarbutrazox','FUNGICIDE')
   ,('Picoxystrobin','FUNGICIDE')
   ,('Polyoxins','FUNGICIDE')
   ,('Polyoxorim-zinc','FUNGICIDE')
   ,('Potassium hydrogencarbonate','FUNGICIDE')
   ,('Probenazole','FUNGICIDE')
   ,('Prochloraz','FUNGICIDE')
   ,('Procymidone','FUNGICIDE')
   ,('Propamocarb-hydrochloride','FUNGICIDE')
   ,('Propiconazole','FUNGICIDE')
   ,('Propineb','FUNGICIDE')
   ,('Prothioconazole','FUNGICIDE')
   ,('Pseudomonas fluorescens (Flügge) Migula','FUNGICIDE')
   ,('Pseudomonas rhodesiae Coroler, et al','FUNGICIDE')
   ,('Pydiflumetofen','FUNGICIDE')
   ,('Pyraclostrobin','FUNGICIDE')
   ,('Pyraziflumid','FUNGICIDE')
   ,('Pyribencarb','FUNGICIDE')
   ,('Pyriofenone','FUNGICIDE')
   ,('Pyroquilon','FUNGICIDE')
   ,('Sedaxane','FUNGICIDE')
   ,('Silver','FUNGICIDE')
   ,('Simeconazole','FUNGICIDE')
   ,('Sodium bicarbonate','FUNGICIDE')
   ,('Streptomycin','FUNGICIDE')
   ,('Sulfur','FUNGICIDE')
   ,('Talaromyces flavus (Klöcker) Stolk & Samson','FUNGICIDE')
   ,('Tebuconazole','FUNGICIDE')
   ,('Tebufloquin','FUNGICIDE')
   ,('Tetraconazole','FUNGICIDE')
   ,('Thifluzamide','FUNGICIDE')
   ,('Thiophanate-methyl','FUNGICIDE')
   ,('Thiuram','FUNGICIDE')
   ,('Tiadinil','FUNGICIDE')
   ,('Tolclofos-methyl','FUNGICIDE')
   ,('Tolprocarb','FUNGICIDE')
   ,('Trichoderma atroviride','FUNGICIDE')
   ,('Tricyclazole','FUNGICIDE')
   ,('Trifloxystrobin','FUNGICIDE')
   ,('Triflumizole','FUNGICIDE')
   ,('Triforine','FUNGICIDE')
   ,('Triticonazole','FUNGICIDE')
   ,('Validamycin','FUNGICIDE')
   ,('Variovorax paradoxus','FUNGICIDE')
   ,('Ziram','FUNGICIDE')
   ,('Zucchini yellow mosaic virus attenuated strain ','FUNGICIDE')
   ,('2,4-D-dimethylammonium','HERBICIDE')
   ,('2,4-D-ethyl','HERBICIDE')
   ,('2,4-D-isopropylammonium','HERBICIDE')
   ,('2,4-D-sodium monohydrate','HERBICIDE')
   ,('Alachlor','HERBICIDE')
   ,('Amicarbazone','HERBICIDE')
   ,('Asulam','HERBICIDE')
   ,('Atrazine','HERBICIDE')
   ,('Azimsulfuron','HERBICIDE')
   ,('Benfluralin','HERBICIDE')
   ,('Benfuresate','HERBICIDE')
   ,('Bensulfuron-methyl','HERBICIDE')
   ,('Bentazone-sodium','HERBICIDE')
   ,('Benzobicyclon','HERBICIDE')
   ,('Benzofenap','HERBICIDE')
   ,('Bispyribac-sodium','HERBICIDE')
   ,('Bromacil','HERBICIDE')
   ,('Bromobutide','HERBICIDE')
   ,('Butachlor','HERBICIDE')
   ,('Butamifos','HERBICIDE')
   ,('Cafenstrole','HERBICIDE')
   ,('Carfentrazone-ethyl','HERBICIDE')
   ,('Chloridazon','HERBICIDE')
   ,('Chlorimuron-ethyl','HERBICIDE')
   ,('Chlorphthalim','HERBICIDE')
   ,('Chlorpropham','HERBICIDE')
   ,('Chlorthiamid','HERBICIDE')
   ,('Clethodim','HERBICIDE')
   ,('Clomeprop','HERBICIDE')
   ,('Cumyluron','HERBICIDE')
   ,('Cyanazine','HERBICIDE')
   ,('Cyclopyrimorate','HERBICIDE')
   ,('Cyclosulfamuron','HERBICIDE')
   ,('Cyhalofop-butyl','HERBICIDE')
   ,('Daimuron','HERBICIDE')
   ,('Desmedipham','HERBICIDE')
   ,('Dicamba','HERBICIDE')
   ,('Dicamba-dimethylammonium','HERBICIDE')
   ,('Dicamba-potassium','HERBICIDE')
   ,('Dichlobenil','HERBICIDE')
   ,('Diflufenican','HERBICIDE')
   ,('Dimethametryn','HERBICIDE')
   ,('Dimethenamid','HERBICIDE')
   ,('Dimethenamid-P','HERBICIDE')
   ,('Diquat','HERBICIDE')
   ,('Dithiopyr','HERBICIDE')
   ,('Diuron','HERBICIDE')
   ,('D-Limonene','HERBICIDE')
   ,('Endothal-dipotassium','HERBICIDE')
   ,('Esprocarb','HERBICIDE')
   ,('Ethoxysulfuron','HERBICIDE')
   ,('Etobenzanid','HERBICIDE')
   ,('Fenoxasulfone','HERBICIDE')
   ,('Fenquinotrione','HERBICIDE')
   ,('Fentrazamide','HERBICIDE')
   ,('Flazasulfuron','HERBICIDE')
   ,('Florasulam','HERBICIDE')
   ,('Florpyrauxifen-benzyl','HERBICIDE')
   ,('Fluazifop-P-butyl ','HERBICIDE')
   ,('Flucetosulfuron','HERBICIDE')
   ,('Flufenacet','HERBICIDE')
   ,('Flumioxazin','HERBICIDE')
   ,('Flupoxam','HERBICIDE')
   ,('Flupropanate-sodium','HERBICIDE')
   ,('Fluthiacet-methyl','HERBICIDE')
   ,('Foramsulfuron','HERBICIDE')
   ,('Glufosinate','HERBICIDE')
   ,('Glufosinate-P-sodium','HERBICIDE')
   ,('Glyphosate-ammonium','HERBICIDE')
   ,('Glyphosate-isopropylammonium ','HERBICIDE')
   ,('Glyphosate-potassium','HERBICIDE')
   ,('Glyphosate-sodium','HERBICIDE')
   ,('Halosulfuron-methyl','HERBICIDE')
   ,('Hexazinone','HERBICIDE')
   ,('Imazamox-ammonium','HERBICIDE')
   ,('Imazapyr','HERBICIDE')
   ,('Imazaquin','HERBICIDE')
   ,('Imazosulfuron','HERBICIDE')
   ,('Indanofan','HERBICIDE')
   ,('Indaziflam','HERBICIDE')
   ,('Iodosulfuron-methyl-sodium','HERBICIDE')
   ,('Ioxynil','HERBICIDE')
   ,('Ipfencarbazone','HERBICIDE')
   ,('Isouron','HERBICIDE')
   ,('Isoxaben','HERBICIDE')
   ,('Karbutilate','HERBICIDE')
   ,('Lancotrione sodium','HERBICIDE')
   ,('Lenacil','HERBICIDE')
   ,('Linuron','HERBICIDE')
   ,('MCPA-ethyl','HERBICIDE')
   ,('MCPA-isopropylamine','HERBICIDE')
   ,('MCPA-sodium','HERBICIDE')
   ,('MCPB-ethyl','HERBICIDE')
   ,('Mecoprop-dimethylammonium','HERBICIDE')
   ,('Mecoprop-P-isopropylammonium','HERBICIDE')
   ,('Mecoprop-potassium','HERBICIDE')
   ,('Mecoprop-P-potassium','HERBICIDE')
   ,('Mefenacet','HERBICIDE')
   ,('Mesotrione','HERBICIDE')
   ,('Metamifop','HERBICIDE')
   ,('Metamitron','HERBICIDE')
   ,('Metazosulfuron','HERBICIDE')
   ,('Methiozolin','HERBICIDE')
   ,('Metolachlor','HERBICIDE')
   ,('Metribuzin','HERBICIDE')
   ,('Metsulfuron-methyl','HERBICIDE')
   ,('Napropamide','HERBICIDE')
   ,('Nicosulfuron','HERBICIDE')
   ,('Oryzalin','HERBICIDE')
   ,('Oxadiargyl','HERBICIDE')
   ,('Oxadiazon','HERBICIDE')
   ,('Oxaziclomefone','HERBICIDE')
   ,('Paraquat','HERBICIDE')
   ,('Pelargonic acid','HERBICIDE')
   ,('Pelargonic acid potassium salt','HERBICIDE')
   ,('Pendimethalin','HERBICIDE')
   ,('Penoxsulam','HERBICIDE')
   ,('Pentoxazone','HERBICIDE')
   ,('Phenmedipham','HERBICIDE')
   ,('Pretilachlor','HERBICIDE')
   ,('Prodiamine','HERBICIDE')
   ,('Prometryn','HERBICIDE')
   ,('Propanil','HERBICIDE')
   ,('Propyrisulfuron','HERBICIDE')
   ,('Propyzamide','HERBICIDE')
   ,('Prosulfocarb','HERBICIDE')
   ,('Pyraclonil','HERBICIDE')
   ,('Pyraflufen-ethyl','HERBICIDE')
   ,('Pyrazolynate','HERBICIDE')
   ,('Pyrazosulfuron-ethyl','HERBICIDE')
   ,('Pyrazoxyfen','HERBICIDE')
   ,('Pyributicarb','HERBICIDE')
   ,('Pyriftalid','HERBICIDE')
   ,('Pyriminobac-methyl','HERBICIDE')
   ,('Pyrimisulfan','HERBICIDE')
   ,('Pyroxasulfone','HERBICIDE')
   ,('Quinoclamine','HERBICIDE')
   ,('Quizalofop-ethyl','HERBICIDE')
   ,('Rimsulfuron','HERBICIDE')
   ,('Sethoxydim','HERBICIDE')
   ,('Simazine','HERBICIDE')
   ,('Simetryn','HERBICIDE')
   ,('S-metolachlor','HERBICIDE')
   ,('Sodium chlorate','HERBICIDE')
   ,('Sodium cyanate','HERBICIDE')
   ,('Tebuthiuron','HERBICIDE')
   ,('Tefuryltrione','HERBICIDE')
   ,('Tepraloxydim','HERBICIDE')
   ,('Terbacil','HERBICIDE')
   ,('Thenylchlor','HERBICIDE')
   ,('Thiencarbazone-methyl','HERBICIDE')
   ,('Thifensulfuron-methyl','HERBICIDE')
   ,('Thiobencarb','HERBICIDE')
   ,('Tolpyralate','HERBICIDE')
   ,('Topramezone','HERBICIDE')
   ,('Triafamone','HERBICIDE')
   ,('Triaziflam','HERBICIDE')
   ,('Triclopyr-butoxyethyl ','HERBICIDE')
   ,('Triclopyr-triethylammonium','HERBICIDE')
   ,('Trifloxysulfuron-sodium','HERBICIDE')
   ,('Trifluralin','HERBICIDE')
   ,('1-Methylcyclopropene','PLANT GROWTH REGULATOR')
   ,('1-naphthaleneacetic acid, sodium salt','PLANT GROWTH REGULATOR')
   ,('1-Naphthyl acetamide','PLANT GROWTH REGULATOR')
   ,('4-CPA','PLANT GROWTH REGULATOR')
   ,('Abscisic acid','PLANT GROWTH REGULATOR')
   ,('Benzyl adenine ','PLANT GROWTH REGULATOR')
   ,('Butralin','PLANT GROWTH REGULATOR')
   ,('Calcium chloride','PLANT GROWTH REGULATOR')
   ,('Calcium formate','PLANT GROWTH REGULATOR')
   ,('Calcium peroxide','PLANT GROWTH REGULATOR')
   ,('Calcium sulfate','PLANT GROWTH REGULATOR')
   ,('Chlormequat','PLANT GROWTH REGULATOR')
   ,('Chlorthal-dimethyl','PLANT GROWTH REGULATOR')
   ,('Cholin','PLANT GROWTH REGULATOR')
   ,('Cyanamide','PLANT GROWTH REGULATOR')
   ,('Daminozide','PLANT GROWTH REGULATOR')
   ,('Decyl alcohol','PLANT GROWTH REGULATOR')
   ,('Dichlorprop','PLANT GROWTH REGULATOR')
   ,('Ethephon','PLANT GROWTH REGULATOR')
   ,('Ethychlozate','PLANT GROWTH REGULATOR')
   ,('Extracts from mixed crude drugs','PLANT GROWTH REGULATOR')
   ,('Flurprimidol','PLANT GROWTH REGULATOR')
   ,('Forchlorfenuron','PLANT GROWTH REGULATOR')
   ,('Gibberellin','PLANT GROWTH REGULATOR')
   ,('Indolebutyric acid','PLANT GROWTH REGULATOR')
   ,('Itaconic acid','PLANT GROWTH REGULATOR')
   ,('Maleic hydrazide','PLANT GROWTH REGULATOR')
   ,('Mepiquat chloride','PLANT GROWTH REGULATOR')
   ,('Paclobutrazol','PLANT GROWTH REGULATOR')
   ,('Paraffin','PLANT GROWTH REGULATOR')
   ,('Prohexadione-calcium','PLANT GROWTH REGULATOR')
   ,('Prohydrojasmom','PLANT GROWTH REGULATOR')
   ,('Sorbitan trioleate','PLANT GROWTH REGULATOR')
   ,('Trinexapac-ethyl','PLANT GROWTH REGULATOR')
   ,('Uniconazole-P','PLANT GROWTH REGULATOR')
   ,('Chlorophacinone','RODENTICIDE')
   ,('Diphacinone','RODENTICIDE')
   ,('Warfarin','RODENTICIDE')
   ,('Zinc phosphide','RODENTICIDE')
   ,('Alemalure (pheromone)','OTHERS')
   ,('Armigelure (pheromone)','OTHERS')
   ,('Beetarmylure (pheromone)','OTHERS')
   ,('Bluwelure (pheromone)','OTHERS')
   ,('Calcium carbonate','OTHERS')
   ,('Calcium cyanamide','OTHERS')
   ,('Calcium oxide','OTHERS')
   ,('Cuelure (pheromone)','OTHERS')
   ,('Cossinlure (pheromone)','OTHERS')
   ,('Diamolure (pheromone)','OTHERS')
   ,('Diashilure (pheromone)','OTHERS')
   ,('Fallweblure (pheromone)','OTHERS')
   ,('Infelure (pheromone)','OTHERS')
   ,('Lawculure (pheromone)','OTHERS')
   ,('Litlure (pheromone)','OTHERS')
   ,('Methyl eugenol','OTHERS')
   ,('Okimelanolure (pheromone)','OTHERS')
   ,('Orfralure (pheromone)','OTHERS')
   ,('Peachflure (pheromone)','OTHERS')
   ,('Pirimalure (pheromone)','OTHERS')
   ,('Quercivolure (pheromone)','OTHERS')
   ,('Sakimelamolure (pheromone)','OTHERS')
   ,('Sweet vilure (pheromone)','OTHERS')
   ,('Synanthelure (pheromone)','OTHERS')
   ,('Tortorilure (pheromone)','OTHERS')
   ,('Uwabalure (pheromone)','OTHERS')
   ,('Whole egg powder','OTHERS');

   SET @row_count = @@ROWCOUNT;
   EXEC sp_log 1, @fn, '99: leaving OK, inserted ',@row_count, ' rows';
END
/*
EXEC sp_import_jap_chem
SELECT * FROM JapChemList order by id
*/
GO
