SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChemicalUse](
	[chemical_id] [int] NOT NULL,
	[use_id] [int] NOT NULL,
	[chemical_nm] [nvarchar](50) NULL,
	[use_nm] [nvarchar](50) NULL,
 CONSTRAINT [PK_Chemical2Type] PRIMARY KEY CLUSTERED 
(
	[chemical_id] ASC,
	[use_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Chemical2Type_chemical] ON [dbo].[ChemicalUse]
(
	[chemical_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Chemical2Type_type] ON [dbo].[ChemicalUse]
(
	[use_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChemicalUse]  WITH CHECK ADD  CONSTRAINT [FK_ChemicalUse_Chemical] FOREIGN KEY([chemical_id])
REFERENCES [dbo].[Chemical] ([chemical_id])
GO
ALTER TABLE [dbo].[ChemicalUse] CHECK CONSTRAINT [FK_ChemicalUse_Chemical]
GO
ALTER TABLE [dbo].[ChemicalUse]  WITH CHECK ADD  CONSTRAINT [FK_ChemicalUse_Use] FOREIGN KEY([use_id])
REFERENCES [dbo].[Use] ([use_id])
GO
ALTER TABLE [dbo].[ChemicalUse] CHECK CONSTRAINT [FK_ChemicalUse_Use]
GO
