SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductUseStaging](
	[product_nm] [nvarchar](50) NOT NULL,
	[use_nm] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ProductUseStaging] PRIMARY KEY CLUSTERED 
(
	[product_nm] ASC,
	[use_nm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
