SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CropPathogen](
	[crop_id] [int] NOT NULL,
	[pathogen_id] [int] NOT NULL,
	[crop_nm] [nvarchar](50) NULL,
	[pathogen_nm] [nvarchar](100) NULL,
 CONSTRAINT [PK_CropPathogen] PRIMARY KEY CLUSTERED 
(
	[crop_id] ASC,
	[pathogen_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CropPathogen_crop] ON [dbo].[CropPathogen]
(
	[crop_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CropPathogen_pathogen] ON [dbo].[CropPathogen]
(
	[pathogen_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CropPathogen]  WITH CHECK ADD  CONSTRAINT [FK_CropPathogen_Crop] FOREIGN KEY([crop_id])
REFERENCES [dbo].[Crop] ([crop_id])
GO
ALTER TABLE [dbo].[CropPathogen] CHECK CONSTRAINT [FK_CropPathogen_Crop]
GO
ALTER TABLE [dbo].[CropPathogen]  WITH CHECK ADD  CONSTRAINT [FK_CropPathogen_Pathogen] FOREIGN KEY([pathogen_id])
REFERENCES [dbo].[Pathogen] ([pathogen_id])
GO
ALTER TABLE [dbo].[CropPathogen] CHECK CONSTRAINT [FK_CropPathogen_Pathogen]
GO
