SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [SQL#].[SQLsharp_IsUpdateAvailable]()
RETURNS [bit] WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [SQL#_2].[SQLsharp].[IsUpdateAvailable]
GO
