SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [SQL#].[String_LastIndexOf4k](@StringValue [nvarchar](4000), @SearchValue [nvarchar](4000), @StartIndex [int], @ComparisonType [int])
RETURNS [int] WITH EXECUTE AS CALLER, RETURNS NULL ON NULL INPUT
AS 
EXTERNAL NAME [SQL#].[STRING].[LastIndexOf]
GO
