SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [SQL#].[INET_URIGetLeftPart](@URI [nvarchar](4000), @PartialType [nvarchar](50))
RETURNS [nvarchar](4000) WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [SQL#.Network].[INET].[GetLeftPart]
GO
