SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [SQL#].[Convert_MSIntDateToDateTime](@MSIntDate [int])
RETURNS [datetime] WITH EXECUTE AS CALLER, RETURNS NULL ON NULL INPUT
AS 
EXTERNAL NAME [SQL#].[CONVERT].[MSIntDateToDateTime]
GO
