SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [SQL#].[SQLsharp_ManualRevisionNumber]()
RETURNS [bigint] WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [SQL#].[SQLsharp].[ManualRevisionNumber]
GO
