SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [SQL#].[Util_CRC32](@BaseData [varbinary](max))
RETURNS [bigint] WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [SQL#].[UTILITY].[CRC32]
GO
