SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [SQL#].[DB_WaitForDelay](@MillisecondsToSleep [int], @NonDeterminiser [varbinary](4000))
RETURNS [bit] WITH EXECUTE AS CALLER, RETURNS NULL ON NULL INPUT
AS 
EXTERNAL NAME [SQL#.DB].[FunctionHelpers].[WaitForDelay]
GO
