SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [SQL#].[SQLsharp_Uninstall]
	@SQLsharpAssembly [sysname] = N''
WITH EXECUTE AS CALLER
AS
EXTERNAL NAME [SQL#].[SQLsharp].[Uninstall]
GO
