SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************

	SQLsharp_InstanceSetup

	Copyright (C) 2018 Sql Quantum Lift, LLC. All rights reserved.

	This stored procedure is pure T-SQL (no SQLCLR) and is intended to
	configure the Instance-level settings (including enabling SQLCLR, if
	necessary) to get SQL# to the state it was in when it was installed.

	This stored procedure will help when restoring a Database containing SQL#
	onto an Instance that has never had SQL# installed, and so is missing
	the Instance-level setup (CLR enabled, Asymmetric Key, and Asymmetric
	Key-based Login). In this case, just run this stored procedure instead
	of reinstalling SQL#.

	The default values for the two input parameters are the values used
	when SQL# was installed.

 *******************************************************************************/

CREATE PROCEDURE [SQL#].[SQLsharp_InstanceSetup]
(
	@MaxAllowedAccessLevel TINYINT = 3,
	@SQLsharpLogin sysname = N'SQL#'
)
AS
SET NOCOUNT ON;

DECLARE @SQLServerVersion FLOAT;

SET @SQLServerVersion = CONVERT(FLOAT, LEFT(CONVERT(NVARCHAR(128), SERVERPROPERTY('ProductVersion')), 4));

	BEGIN TRY


	---
	--- CLR Integration must be enabled.
	---
	IF EXISTS (
				SELECT *
				FROM   sys.configurations conf
				WHERE  conf.configuration_id = 1562 -- "clr enabled"
				AND    conf.value_in_use = 0
			)
	BEGIN
		PRINT N'Enabling the CLR ...';
		RAISERROR('', 10, 1) WITH NOWAIT;

		-- At least one of the following conditions needs to be true in order
		-- to change settings via "sp_configure" and execute "RECONFIGURE".
		IF (
				HAS_PERMS_BY_NAME(NULL, NULL, 'ALTER SETTINGS') = 0
			AND	IS_SRVROLEMEMBER(N'sysadmin') = 0
			AND	IS_SRVROLEMEMBER(N'serveradmin') = 0
			)
		BEGIN
			DECLARE @Message NVARCHAR(4000);
			SET @Message = NCHAR(10) + N'"CLR Integration" needs to be enabled, yet the current Login' + NCHAR(10);
			SET @Message = @Message + N'does not have permission to perform this action. This change' + NCHAR(10);
			SET @Message = @Message + N'can only be done by a Login that either has the "ALTER SETTINGS"' + NCHAR(10);
			SET @Message = @Message + N'server-level permission, OR is a member of either the "sysadmin"' + NCHAR(10);
			SET @Message = @Message + N'or the "serveradmin" fixed server roles.' + NCHAR(10);

			RAISERROR(@Message, 16, 1) WITH NOWAIT;
		END;

		EXEC(N'EXEC sp_configure ''clr enabled'', 1;');

		-- Uncomment the WITH OVERRIDE if you get the "ad hoc changes are not allowed" error
		EXEC(N'RECONFIGURE --WITH OVERRIDE');
		RAISERROR(N'CLR Integration enabled.', 10, 1) WITH NOWAIT;
	END;
	ELSE
	BEGIN
		PRINT N'CLR already enabled; skipping ...';
		RAISERROR('', 10, 1) WITH NOWAIT;
	END;

	-- Make sure we either a) complete successfully, or b) nothing is changed.
	BEGIN TRAN;

	---
	--- Make sure that the Login desired to own SQL# exists.
	---
	IF (NOT EXISTS (
					SELECT *
					FROM   [master].sys.server_principals sp
					WHERE  sp.name = @SQLsharpLogin
				)
		)
	BEGIN
		RAISERROR('', 10, 1) WITH NOWAIT;
		RAISERROR(N'Login [%s] does not exist:', 10, 1, @SQLsharpLogin) WITH NOWAIT;


		---
		--- If running on SQL Server 2017 or newer, a signature-based Login is required even
		--- for creating SAFE Assemblies. Create a Certificate so we can load the Assembly
		--- containing the Asymmetric Key. While this is not required if "clr strict security"
		--- is disabled, it is easier and more consistent to behave as if it is enabled.
		---

		---
		--- First, if this is SQL Server versions 2012, 2014, or 2016, check to see if Trace Flag
		--- 6545 is enabled.
		--- https://sqlquantumleap.com/2018/02/23/sqlclr-vs-sql-server-2012-2014-2016-part-7-clr-strict-security-the-problem-continues-in-the-past-wait-what/
		---
		IF (OBJECT_ID(N'tempdb..#TraceFlags') IS NOT NULL)
		BEGIN
			DROP TABLE #TraceFlags;
		END;

		CREATE TABLE #TraceFlags ([TraceFlag] SMALLINT, [Status] SMALLINT, [Global] SMALLINT, [Session] SMALLINT);

		INSERT INTO #TraceFlags ([TraceFlag], [Status], [Global], [Session])
			EXEC(N'DBCC TRACESTATUS(6545, -1) WITH NO_INFOMSGS;');

		IF (@SQLServerVersion >= 14 -- SQL Server 2017 or newer
			OR EXISTS(
						SELECT	*
						FROM	#TraceFlags tf
						WHERE	tf.[Status] = 1 -- "clr strict security" enabled
						)
			)
		BEGIN
			RAISERROR(N'	Extra steps needed to handle "CLR strict security":', 10, 1) WITH NOWAIT;

			IF (NOT EXISTS(
							SELECT  *
							FROM    [master].sys.certificates sc
							WHERE   sc.[name] = N'SQL#.AssemblyLoading'
						)
				)
			BEGIN
				RAISERROR(N'		Creating temporary Certificate...', 10, 1) WITH NOWAIT;
				EXEC(N'USE [master];
						CREATE CERTIFICATE [SQL#.AssemblyLoading]
						FROM BINARY = 0x\
3082036A30820256A003020102021032C3791992E2298A476836E40A9EDAF2300906052B0E03021D0500303B313930370603550403133053716C205175616E74756D204C69667420282068747470733A2F2F53716C5175616E74756D4C6966742E636F6D\
2F20293020170D3137303931333036303031325A180F32303939313233313034303030305A303B313930370603550403133053716C205175616E74756D204C69667420282068747470733A2F2F53716C5175616E74756D4C6966742E636F6D2F20293082\
0122300D06092A864886F70D01010105000382010F003082010A0282010100B9200A8E0F326FAF221AFB57F1014A13D67425EA3AABBD533A258D0A239D5A36DA4E41A343BB9FB0FA209790417CF96195F2D8DCAFD4145F286ABE330C772314F61738618D\
3C8E13003AF51198631A3B49181203BA72D0C6C77E4C45F65B47AFCF1762B7DFEFFEDF5149C20BE2541ABEEA6A269B9A441FC30B0304FFB874C8538273B7A4B9E3697E8313570D4FD385E8B191C2EB628FF4F0706A5D82561DD088FF3F0C0380D3950A6E\
243618540FE74F64410FDDFD43B4B4D01ED6633D21CC0582580066F4A37F738D536B2FCA66D01367C00CDE5AD2DFD251A48F3DA23E04E6299E14D06ECF8A51452278DE91F9EB01A59FB5F3A4E41A6B9A55A85CC9DFC17D0203010001A370306E306C0603\
551D010465306380105341120498C192EA54F2F9523DC42ACDA13D303B313930370603550403133053716C205175616E74756D204C69667420282068747470733A2F2F53716C5175616E74756D4C6966742E636F6D2F2029821032C3791992E2298A4768\
36E40A9EDAF2300906052B0E03021D050003820101001094DE04885B43A48C25EFB9D5C4ADA3C6A2DA4E3B97F72AA9E5D5FA9048D179A6F6581D2C48E5FCF7EDBDF394699403FF22E031F0DB12921E8035A27B6C216872EE07C89572CEFEEAB70F69A269\
F922664F2029324FE8CB0134E5E3653D26D3BB26B3D5A3080FC783CD025A2768052237CBB634426CA04F5BC25103DE8F50345A53FDB826BC9EC59F83EBC39ADBCC3D356EA4FD1FADF19B09656A9F0A199F3FC94BC66E0010626D07E76054B931D125F4B2\
3BD0E2A17C54D85EFE0B2AA355A7D2952D442039C05D6B6F39A37E46E4E3480236007F7A9186831F51F43D38C2EE5E6323CC4643695F53FCBC1C0C82B34B05256DAC7A96A16D8FE1ACCF2E291634;
');
			END;


			IF (SUSER_ID(N'SQL#.AssemblyLoading') IS NULL)
			BEGIN
				RAISERROR(N'		Creating temporary permissions Login...', 10, 1) WITH NOWAIT;
				EXEC(N'USE [master];
						CREATE LOGIN [SQL#.AssemblyLoading]
						FROM CERTIFICATE [SQL#.AssemblyLoading];');
			END;

			-- REQUIRED!!!!
			EXEC(N'USE [master];
					GRANT UNSAFE ASSEMBLY TO [SQL#.AssemblyLoading];');
		END; /* IF (@SQLServerVersion >= 14) */



		IF (NOT EXISTS(
						SELECT *
						FROM   [master].sys.assemblies sa
						WHERE  sa.name = N'SQL#.Certificate'
					)
			)
		BEGIN
			RAISERROR(N'	Creating temporary Assembly ...', 10, 1) WITH NOWAIT;
			EXEC(N'USE [master];
					CREATE ASSEMBLY [SQL#.Certificate]
					AUTHORIZATION [dbo]
					FROM 0x\
4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C0103002BC4B8590000000000000000E00002210B010B00000800000008000000000000CE2600000020000000400000000000100020000000020000040000000000000004000000000000000080000000020000B9DA0000030040850000100000100000000010000010000000000000100000000000000000000000782600005300000000400000A8040000000000000000000000120000E8050000006000000C00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E74657874000000D4060000002000000008000000020000000000000000000000000000200000602E72737263000000A80400000040000000060000000A0000000000000000000000000000400000402E72656C6F6300000C0000000060000000020000001000000000000000000000000000004000004200000000\
000000000000000000000000B0260000000000004800000002000500D0200000A8050000090000000000000000000000000000005020000080000000000000000000000000000000000000000000000000000000000000000000000066DCCCA43DBEA05AB4953A93D63BA6F5DC87C7946535B181C29D69E8CA9503DDE5BEBC515A8A4A2B07EBD1304CAA5BE798047916D71786C220C12CFA2232CEFABC22FF1D6A0AA5D1022A8D7243AC7CA3134B58227695ABC9028DAF7742713C4BC452ABE994952D85E4226D0E7D3232F6156070E4823ACAA0F8EF20C7BD94F95E42534A4201000100000000000C00000076322E302E35303732370000000005006C00000058010000237E0000C4010000EC01000023537472696E677300000000B00300000800000023555300B8030000100000002347554944000000C8030000E001000023426C6F620000000000000002000001071400000900000000FA253300160000010000000D000000010000000D0000000B000000010000000100000000000A0001000000000006003A0028000600570028000600740028000600930028000600AC0028000600C50028000600E00028000600FB00280006003301140106004701280006006001280006009D017D010600BD017D010000000001000000000001000100090051000A00110051000A00190051000A00\
210051000A00290051000A00310051000A00390051000A00410051000A00490051000F00510051000A00590051000A006100510014006900510019002E000B00BF002E00130006012E001B0021012E00230027012E002B005D012E00330067012E003B0021012E004B0021012E005B00AF012E006300B8012E006B00C101048000000400010000000000010000001D00DB01000002000000000000000000000001001F000000000000000000003C4D6F64756C653E0053514C232E43657274696669636174652E646C6C006D73636F726C69620053797374656D2E5265666C656374696F6E00417373656D626C795469746C65417474726962757465002E63746F7200417373656D626C794465736372697074696F6E41747472696275746500417373656D626C79436F6E66696775726174696F6E41747472696275746500417373656D626C79436F6D70616E7941747472696275746500417373656D626C7950726F6475637441747472696275746500417373656D626C79436F7079726967687441747472696275746500417373656D626C7954726164656D61726B41747472696275746500417373656D626C7943756C747572654174747269627574650053797374656D2E52756E74696D652E496E7465726F70536572766963657300436F6D56697369626C654174747269627574650041\
7373656D626C7956657273696F6E41747472696275746500417373656D626C7946696C6556657273696F6E4174747269627574650053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300436F6D70696C6174696F6E52656C61786174696F6E734174747269627574650052756E74696D65436F6D7061746962696C6974794174747269627574650053514C232E4365727469666963617465000003200000000000E7755E8BE1E94E40A32B2F39400C82550008B77A5C561934E089042001010E042001010204200101080320000180A0002400000480000094000000060200000024000052534131000400000100010033237E60D1AF2429EE4E6DABE42A2C8A8893EBD630506BA491C63FBFC5D6D0416C540D47A1244C1689482BC752CBAA4E0B95552751626957D1C0BD356D2C5E728A3EA0244C7AC9CC3D4CFB363802B0401245A79C4C7038E7E3901F3C727EC901AF72DAC23D4C6E2CAF8802EDDC1388C628430979DAC9AF0D307CD9527F1FDDC646010041436572746966696361746520616E64204173796D6D6574726963204B657920666F722053514C2320282068747470733A2F2F53514C73686172702E636F6D2F202900001A01001568747470733A2F2F53514C73686172702E636F6D2F00000501000000003501003053716C205175616E74756D204C\
69667420282068747470733A2F2F53716C5175616E74756D4C6966742E636F6D2F202900000901000453514C23000047010042436F7079726967687420C2A920323030362D323031372053716C205175616E74756D204C6966742C204C4C432E20416C6C205269676874732052657365727665642E000008010003342E3100000801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F777301A02600000000000000000000BE260000002000000000000000000000000000000000000000000000B026000000000000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000FF2500200010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000\
00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100100000001800008000000000000000000000000000000100010000003000008000000000000000000000000000000100000000004800000058400000500400000000000000000000500434000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100010004000000000001000400000000003F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B004B0030000010053007400720069006E006700460069006C00650049006E0066006F0000008C030000010030003000300030003000340062003000000044001600010043006F006D006D0065006E00740073000000680074007400700073003A002F002F00530051004C00730068006100720070002E0063006F006D002F00000084003100010043006F006D00700061006E0079004E0061006D00650000000000530071006C0020005100750061006E00740075006D0020004C00690066007400\
200028002000680074007400700073003A002F002F00530071006C005100750061006E00740075006D004C006900660074002E0063006F006D002F002000290000000000AC0042000100460069006C0065004400650073006300720069007000740069006F006E000000000043006500720074006900660069006300610074006500200061006E00640020004100730079006D006D006500740072006900630020004B0065007900200066006F0072002000530051004C002300200028002000680074007400700073003A002F002F00530051004C00730068006100720070002E0063006F006D002F00200029000000280004000100460069006C006500560065007200730069006F006E000000000034002E00310000004C001500010049006E007400650072006E0061006C004E0061006D0065000000530051004C0023002E00430065007200740069006600690063006100740065002E0064006C006C0000000000A800420001004C006500670061006C0043006F007000790072006900670068007400000043006F0070007900720069006700680074002000A900200032003000300036002D0032003000310037002000530071006C0020005100750061006E00740075006D0020004C006900660074002C0020004C004C0043002E00200041006C006C00200052006900670068007400\
73002000520065007300650072007600650064002E0000005400150001004F0072006900670069006E0061006C00460069006C0065006E0061006D0065000000530051004C0023002E00430065007200740069006600690063006100740065002E0064006C006C00000000002C0005000100500072006F0064007500630074004E0061006D00650000000000530051004C002300000000002C0004000100500072006F006400750063007400560065007200730069006F006E00000034002E003100000038000800010041007300730065006D0062006C0079002000560065007200730069006F006E00000034002E0031002E0030002E00300000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000\
000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000C000000D03600000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000\
000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000E805000000020200308205D706092A864886F70D010702A08205C8308205C4020101310B300906052B0E03021A0500304C060A2B060104018237020104A03E303C3017060A2B06010401823702010F3009030100A004A20280003021300906052B0E03021A050004147E1E9A91484722C063EE9AA8F405F6A6E8074ABFA082036E3082036A30820256A003020102021032C3791992E2298A476836E40A9EDAF2300906052B0E03021D0500303B313930370603550403133053716C205175616E74756D204C69667420282068747470733A2F2F53716C5175616E74756D4C6966742E636F6D2F20293020170D3137303931333036303031325A180F32303939313233313034303030305A303B313930370603550403133053716C205175616E74756D204C69667420282068747470733A2F2F53716C5175616E74756D4C6966742E636F6D2F202930820122300D06092A864886F70D01010105000382010F003082010A0282010100B9200A8E0F326FAF221AFB57F1014A13D67425EA3AABBD533A258D0A239D5A36\
DA4E41A343BB9FB0FA209790417CF96195F2D8DCAFD4145F286ABE330C772314F61738618D3C8E13003AF51198631A3B49181203BA72D0C6C77E4C45F65B47AFCF1762B7DFEFFEDF5149C20BE2541ABEEA6A269B9A441FC30B0304FFB874C8538273B7A4B9E3697E8313570D4FD385E8B191C2EB628FF4F0706A5D82561DD088FF3F0C0380D3950A6E243618540FE74F64410FDDFD43B4B4D01ED6633D21CC0582580066F4A37F738D536B2FCA66D01367C00CDE5AD2DFD251A48F3DA23E04E6299E14D06ECF8A51452278DE91F9EB01A59FB5F3A4E41A6B9A55A85CC9DFC17D0203010001A370306E306C0603551D010465306380105341120498C192EA54F2F9523DC42ACDA13D303B313930370603550403133053716C205175616E74756D204C69667420282068747470733A2F2F53716C5175616E74756D4C6966742E636F6D2F2029821032C3791992E2298A476836E40A9EDAF2300906052B0E03021D050003820101001094DE04885B43A48C25EFB9D5C4ADA3C6A2DA4E3B97F72AA9E5D5FA9048D179A6F6581D2C48E5FCF7EDBDF394699403FF22E031F0DB12921E8035A27B6C216872EE07C89572CEFEEAB70F69A269F922664F2029324FE8CB0134E5E3653D26D3BB26B3D5A3080FC783CD025A2768052237CBB634426CA04F5BC25103DE8F50345A53FDB826BC9EC59F83EBC39A\
DBCC3D356EA4FD1FADF19B09656A9F0A199F3FC94BC66E0010626D07E76054B931D125F4B23BD0E2A17C54D85EFE0B2AA355A7D2952D442039C05D6B6F39A37E46E4E3480236007F7A9186831F51F43D38C2EE5E6323CC4643695F53FCBC1C0C82B34B05256DAC7A96A16D8FE1ACCF2E291634318201F0308201EC020101304F303B313930370603550403133053716C205175616E74756D204C69667420282068747470733A2F2F53716C5175616E74756D4C6966742E636F6D2F2029021032C3791992E2298A476836E40A9EDAF2300906052B0E03021A0500A078301906092A864886F70D010903310C060A2B060104018237020104302306092A864886F70D010904311604149BE6DA046474ED8D076D95E3FFF308DED10ECB323036060A2B06010401823702010C31283026A00A800800530051004C0023A118801668747470733A2F2F53514C73686172702E636F6D2F20300D06092A864886F70D01010105000482010069E82A24087CF37BB57F65C0730B3A09BEB58451AF290997E99D6345A5615B3916A4080DEF656FC55D875DFCDD7F4BE7C56813C53C58D673D837FF0B9595A0D5E77CAAA8C3267FD9178AD08CB93BDB785B968722F9D3AA6776EF100036F01C7AC73E3EAF8DBF5BCC311594902BDDAA19724931459D04EB2064E3BCABC472BAA719459415C24F23C7968A605DCB\
3077158FFB31F8E6608E32E663530C239D354ACA0073B13DCBE94C9CF905350DB6013BB722B8944CF8A503DF48A3EDC9E39A63D0B4BD4BC9BCFE4B79121CF3DB2549813C60641AC68B1EF5A51E2D386B875BC449B1CB0002103F5AED6A90982BDE5E63B4C5EFCBC57C72170EE25B6A387BB68F0000000000
					WITH PERMISSION_SET = SAFE;');
		END;


		IF (NOT EXISTS(
						SELECT *
						FROM   [master].sys.asymmetric_keys ak
						WHERE  ak.name = N'SQL#Key'
					)
			)
		BEGIN
			RAISERROR(N'	Creating Asymmetric Key: [SQL#Key] ...', 10, 1) WITH NOWAIT;
			EXEC(N'USE [master];
					CREATE ASYMMETRIC KEY [SQL#Key] FROM ASSEMBLY [SQL#.Certificate];');
		END;


		IF (NOT EXISTS(
						SELECT *
						FROM   [master].sys.server_principals sp
						WHERE  sp.name = @SQLsharpLogin
						AND    sp.[type] = N'K' -- ASYMMETRIC_KEY_MAPPED_LOGIN
					)
			)
		BEGIN
			RAISERROR(N'	Creating Login: [%s] ...', 10, 1, @SQLsharpLogin) WITH NOWAIT;
			EXEC(N'USE [master];
					CREATE LOGIN [' + @SQLsharpLogin + N'] FROM ASYMMETRIC KEY [SQL#Key];');
		END;

		-- Not necessary if @MaxAllowedAccessLevel = 3 as "UNSAFE" allows for both.
		IF (@MaxAllowedAccessLevel = 2)
		BEGIN
			RAISERROR(N'	Granting ExternalAccess ...', 10, 1) WITH NOWAIT;
			EXEC(N'USE [master];
					GRANT EXTERNAL ACCESS ASSEMBLY TO [' + @SQLsharpLogin + N'];');
		END;


		IF (@MaxAllowedAccessLevel = 3
				OR @SQLServerVersion >= 14) -- SQL Server 2017 or newer
		BEGIN
			RAISERROR(N'	Granting UnrestrictedAccess ...', 10, 1) WITH NOWAIT;
			EXEC(N'USE [master];
					GRANT UNSAFE ASSEMBLY TO [' + @SQLsharpLogin + N'];');
		END;


		RAISERROR(N'	Clean up:', 10, 1) WITH NOWAIT;
		RAISERROR(N'		Dropping temporary Assembly ...', 10, 1) WITH NOWAIT;
		EXEC(N'USE [master];
				DROP ASSEMBLY [SQL#.Certificate];');

		IF (SUSER_ID(N'SQL#.AssemblyLoading') IS NOT NULL)
		BEGIN
			RAISERROR(N'		Dropping temporary permissions Login...', 10, 1) WITH NOWAIT;
			EXEC(N'USE [master];
					DROP LOGIN [SQL#.AssemblyLoading];');
		END;


		IF (EXISTS(
						SELECT  *
						FROM    [master].sys.certificates sc
						WHERE   sc.[name] = N'SQL#.AssemblyLoading'
					)
			)
		BEGIN
			RAISERROR(N'		Dropping temporary Certificate...', 10, 1) WITH NOWAIT;
			EXEC(N'USE [master];
					DROP CERTIFICATE [SQL#.AssemblyLoading];');
		END;

		RAISERROR(N'Login Created.', 10, 1) WITH NOWAIT;
	END;
	ELSE
	BEGIN
		RAISERROR(N'Login [%s] already exists; skipping ...', 10, 1, @SQLsharpLogin) WITH NOWAIT;
	END;
	RAISERROR('', 10, 1) WITH NOWAIT;


	---
	--- Make sure that the Stored Procedure to do the Instance-level uninstall exists.
	---
	IF (OBJECT_ID(N'master.dbo.SQLsharp_InstanceUninstall') IS NULL)
	BEGIN
		RAISERROR('', 10, 1) WITH NOWAIT;
		RAISERROR(N'Creating Stored Procedure [dbo].[SQLsharp_InstanceUninstall] in [master]...', 10, 1) WITH NOWAIT;

		DECLARE @CreateUninstallProcSQL NVARCHAR(MAX);
		SET @CreateUninstallProcSQL = CONVERT(NVARCHAR(MAX), 0x2F002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A000D000A000D000A000900530051004C00730068006100720070005F0049006E007300740061006E006300650055006E0069006E007300740061006C006C000D000A000D000A00090043006F0070007900720069006700680074002000280043002900200032003000310038002000530071006C0020005100750061006E00740075006D0020004C006900660074002C0020004C004C0043002E00200041006C006C0020007200690067006800740073002000720065007300650072007600650064002E000D000A000D000A00090054006800690073002000730074006F007200650064002000700072006F0063006500640075007200650020006900730020007000750072006500200054002D00530051004C00200028006E006F002000530051004C0043004C0052002900200061006E006400200069007300200069006E00740065006E00640065006400200074006F000D000A00090075006E0069006E007300740061006C006C002000740068006500200049006E007300740061006E00630065002D006C006500760065006C002000730065007400740069006E00670073002C00200065007800630065007000740020006E006F00200061007400740065006D00700074002000770069006C006C0020006200650020006D006100640065000D000A00090074006F002000640069007300610062006C0065002000530051004C0043004C00520020002F00200043004C005200200049006E0074006500670072006100740069006F006E002000280069006E002000630061007300650020006900740020006900730020007300740069006C006C0020006200650069006E0067002000750073006500640029002E000D000A000D000A00090054006800690073002000730074006F007200650064002000700072006F006300650064007500720065002000770069006C006C002000680065006C00700020007700680065006E002000720065006D006F00760069006E0067002000530051004C0023002000660072006F006D00200061006E00200049006E007300740061006E00630065002000610073000D000A00090074006800650020006D00610069006E002000530051004C00730068006100720070005F0055006E0069006E007300740061006C006C002000730074006F007200650064002000700072006F0063006500640075007200650020006F006E006C0079002000720065006D006F0076006500730020007400680065002000440061007400610062006100730065002D000D000A0009006C006500760065006C0020006F0062006A0065006300740073002E00200049007400200068006100730020006E006F00200064006500700065006E00640065006E00630069006500730020006F006E00200061006E0079002000440061007400610062006100730065002D006C006500760065006C0020006F0062006A0065006300740073000D000A000900720065006C006100740065006400200074006F002000740068006500200044006100740061006200610073006500200069006E002000770068006900630068002000530051004C0023002000770061007300200069006E007300740061006C006C00650064002E000D000A0009000D000A00090054006800690073002000730074006F007200650064002000700072006F00630065006400750072006500200069007300200069006E00740065006E00640065006400200074006F00200062006500200065007800650063007500740065006400200061007300200061002000660069006E0061006C00200063006C00650061006E002D00750070000D000A0009007400610073006B00200061006600740065007200200065007800650063007500740069006E0067002000530051004C00730068006100720070005F0055006E0069006E007300740061006C006C00200069006E0020007400680065002000440061007400610062006100730065002000770068006500720065002000530051004C0023000D000A000900770061007300200069006E007300740061006C006C00650064002E002000490074002000720065006D006F007600650073002000740068006500200066006F006C006C006F00770069006E00670020006F0062006A0065006300740073002000660072006F006D0020005B006D00610073007400650072005D003A000D000A000D000A0009003100290020004100730079006D006D006500740072006900630020004B00650079002D006200610073006500640020004C006F00670069006E000D000A0009003200290020004100730079006D006D006500740072006900630020004B00650079000D000A000900330029002000640062006F002E00530051004C00730068006100720070005F0049006E007300740061006E006300650055006E0069006E007300740061006C006C002000280074006800690073002000730074006F007200650064002000700072006F0063006500640075007200650029000D000A000D000A0020002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002A002F000D000A000D000A004300520045004100540045002000500052004F004300450044005500520045002000640062006F002E00530051004C00730068006100720070005F0049006E007300740061006E006300650055006E0069006E007300740061006C006C000D000A00410053000D000A0053004500540020004E004F0043004F0055004E00540020004F004E003B000D000A000D000A0009004400450043004C0041005200450020004000530051004C00730068006100720070004C006F00670069006E0020007300790073006E0061006D0065003B0020002D002D0020006B00650065007000200022007300790073006E0061006D006500220020006C006F007700650072002D00630061007300650021000D000A000D000A00090042004500470049004E0020005400520059000D000A000D000A000D000A000900090042004500470049004E0020005400520041004E003B000D000A000D000A000D00\
0A00090009002D002D002D000D000A00090009002D002D002D0020004D0061006B006500200073007500720065002000740068006100740020007400680065002000530051004C00230020004100730079006D006D006500740072006900630020004B00650079002D006200610073006500640020004C006F00670069006E00200064006500730069007200650064002000690073002000720065006D006F007600650064002E000D000A00090009002D002D002D000D000A0009000900530045004C0045004300540020004000530051004C00730068006100720070004C006F00670069006E0020003D002000730070002E005B006E0061006D0065005D000D000A0009000900460052004F004D002000200020005B006D00610073007400650072005D002E007300790073002E007300650072007600650072005F007000720069006E0063006900700061006C0073002000730070000D000A000900090049004E004E004500520020004A004F0049004E0020002000200020005B006D00610073007400650072005D002E007300790073002E006100730079006D006D00650074007200690063005F006B00650079007300200061006B000D000A0009000900090009004F004E002000200061006B002E005B007300690064005D0020003D002000730070002E005B007300690064005D000D000A00090009005700480045005200450020002000730070002E005B0074007900700065005D0020003D00200027004B0027000D000A000900090041004E0044002000200061006B002E005B006E0061006D0065005D0020003D0020004E002700530051004C0023004B006500790027000D000A000900090041004E0044002000200061006B002E005B007400680075006D0062007000720069006E0074005D0020003D0020003000780046003000410039003800370039004400370042003800370046003000340038003B000D000A000D000A000900090049004600200028004000530051004C00730068006100720070004C006F00670069006E0020004900530020004E004F00540020004E0055004C004C0029000D000A000900090042004500470049004E000D000A000900090009005000520049004E0054002000270027003B000D000A000900090009005000520049004E00540020002700440072006F007000700069006E00670020004C006F00670069006E0020005B00270020002B0020004000530051004C00730068006100720070004C006F00670069006E0020002B00200027005D0020002E002E002E0027003B000D000A000D000A00090009000900450058004500430028004E002700440052004F00500020004C004F00470049004E0020005B00270020002B0020004000530051004C00730068006100720070004C006F00670069006E0020002B0020004E0027005D003B00270029003B000D000A000D000A000900090009005000520049004E005400200027004C006F00670069006E002000640072006F0070007000650064002E0027003B000D000A000900090009005000520049004E0054002000270027003B000D000A000900090045004E0044003B000D000A000900090045004C00530045000D000A000900090042004500470049004E000D000A000900090009005000520049004E00540020004E0027004C006F00670069006E0020005B00270020002B0020004000530051004C00730068006100720070004C006F00670069006E0020002B0020004E0027005D00200064006F006500730020006E006F0074002000650078006900730074003B00200073006B0069007000700069006E00670020002E002E002E0027003B000D000A000900090009005000520049004E0054002000270027003B000D000A000900090045004E0044003B000D000A000D000A000D000A000D000A0009000900490046002000280045005800490053005400530028000D000A0009000900090009000900530045004C0045004300540020002A000D000A0009000900090009000900460052004F004D002000200020005B006D00610073007400650072005D002E007300790073002E006100730079006D006D00650074007200690063005F006B00650079007300200061006B000D000A0009000900090009000900570048004500520045002000200061006B002E005B006E0061006D0065005D0020003D0020004E002700530051004C0023004B006500790027000D000A000900090009000900090041004E0044002000200061006B002E005B007400680075006D0062007000720069006E0074005D0020003D0020003000780046003000410039003800370039004400370042003800370046003000340038000D000A00090009000900090029000D000A0009000900090029000D000A000900090042004500470049004E000D000A000900090009005000520049004E00540020002700440072006F007000700069006E00670020004100730079006D006D006500740072006900630020004B00650079003A0020005B00530051004C0023004B00650079005D0020002E002E002E0027003B000D000A00090009000900450058004500430028004E002700440052004F00500020004100530059004D004D004500540052004900430020004B004500590020005B00530051004C0023004B00650079005D003B00270029003B000D000A000D000A000900090009005000520049004E005400200027004100730079006D006D006500740072006900630020004B00650079002000640072006F0070007000650064002E0027003B000D000A000900090009005000520049004E0054002000270027003B000D000A000900090045004E0044003B000D000A000900090045004C00530045000D000A000900090042004500470049004E000D000A000900090009005000520049004E00540020004E0027004100730079006D006D006500740072006900630020004B006500790020005B00530051004C0023004B00650079005D00200064006F006500730020006E006F0074002000650078006900730074003B00200073006B0069007000700069006E00670020002E002E002E0027003B000D000A000900090009005000520049004E0054002000270027003B000D000A000900090045004E0044003B000D000A000D000A000D000A00090009002D002D002D000D000A00090009002D002D002D002000440072006F00700020007400680069007300200068006500720065002000530074006F007200650064002000500072006F006300650064007500720065002E000D000A00090009002D002D002D000D000A00090009005000520049004E0054002000270027003B000D000A00090009005000520049004E00540020002700440072006F007000700069006E0067002000530074006F007200650064002000500072006F006300650064007500720065002000\
5B00640062006F005D002E005B00530051004C00730068006100720070005F0049006E007300740061006E006300650055006E0069006E007300740061006C006C005D0020002E002E002E0027003B000D000A000D000A0009000900440052004F0050002000500052004F0043004500440055005200450020005B00640062006F005D002E005B00530051004C00730068006100720070005F0049006E007300740061006E006300650055006E0069006E007300740061006C006C005D003B000D000A000D000A00090009005000520049004E00540020002700530074006F007200650064002000500072006F006300650064007500720065002000640072006F0070007000650064002E0027003B000D000A00090009005000520049004E0054002000270027003B000D000A000D000A00090043004F004D004D00490054003B000D000A000D000A00090045004E00440020005400520059000D000A00090042004500470049004E002000430041005400430048000D000A00090009004900460020002800400040005400520041004E0043004F0055004E00540020003E002000300029000D000A000900090042004500470049004E000D000A0009000900090052004F004C004C004200410043004B003B000D000A000900090045004E0044003B000D000A000D000A00090009004400450043004C00410052004500200040004500720072006F0072004D0065007300730061006700650020004E0056004100520043004800410052002800340030003000300029002C000D000A0009000900090020002000200040004500720072006F0072004C006500760065006C00200049004E0054002C000D000A0009000900090020002000200040004500720072006F00720053007400610074006500200049004E0054002C000D000A0009000900090020002000200040004500720072006F0072004E0075006D00620065007200200049004E0054003B000D000A000D000A0009000900530045004C00450043005400200040004500720072006F0072004D0065007300730061006700650020003D0020004500520052004F0052005F004D00450053005300410047004500280029002C000D000A000900090009002000200040004500720072006F0072004C006500760065006C0020003D0020004500520052004F0052005F0053004500560045005200490054005900280029002C000D000A000900090009002000200040004500720072006F0072005300740061007400650020003D0020004500520052004F0052005F0053005400410054004500280029002C000D000A000900090009002000200040004500720072006F0072004E0075006D0062006500720020003D0020004500520052004F0052005F004E0055004D00420045005200280029003B000D000A000D000A000900090052004100490053004500520052004F00520028004E0027004500720072006F0072002000250064003A002000250073002E0027002C00200040004500720072006F0072004C006500760065006C002C00200040004500720072006F007200530074006100740065002C00200040004500720072006F0072004E0075006D006200650072002C00200040004500720072006F0072004D0065007300730061006700650029003B000D000A0009000900520045005400550052004E003B000D000A000D000A00090045004E0044002000430041005400430048003B000D000A00);
		-- SELECT DATALENGTH(@CreateUninstallProcSQL) AS [Bytes], @CreateUninstallProcSQL AS [Text]; -- DEBUG
		EXEC [master].[dbo].[sp_executesql] @CreateUninstallProcSQL;

		RAISERROR(N'Stored Procedure Created.', 10, 1) WITH NOWAIT;;
	END;
	ELSE
	BEGIN
		RAISERROR(N'Stored Procedure [dbo].[SQLsharp_InstanceUninstall] already exists in [master]; skipping ...', 10, 1) WITH NOWAIT;
	END;
	RAISERROR('', 10, 1) WITH NOWAIT;


	COMMIT;

	END TRY
	BEGIN CATCH
		IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK;
		END;

		DECLARE @ErrorMessage NVARCHAR(4000),
			   @ErrorLevel INT,
			   @ErrorState INT,
			   @ErrorNumber INT;

		SELECT @ErrorMessage = ERROR_MESSAGE(),
			  @ErrorLevel = ERROR_SEVERITY(),
			  @ErrorState = ERROR_STATE(),
			  @ErrorNumber = ERROR_NUMBER();

		RAISERROR(N'Error %d: %s.', @ErrorLevel, @ErrorState, @ErrorNumber, @ErrorMessage);
		RETURN;

	END CATCH;
GO
