SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [SQL#].[Math_RoundToEvenDecimal](@BaseNumber [decimal](28, 10), @DecimalPlaces [tinyint])
RETURNS [decimal](28, 10) WITH EXECUTE AS CALLER, RETURNS NULL ON NULL INPUT
AS 
EXTERNAL NAME [SQL#].[MATH].[RoundToEvenDecimal]
GO
