SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [SQL#].[Convert_BinarySidToSddl](@UnencodedValue [varbinary](100))
RETURNS [nvarchar](100) WITH EXECUTE AS CALLER, RETURNS NULL ON NULL INPUT
AS 
EXTERNAL NAME [SQL#].[CONVERT].[BinarySidToSddl]
GO
