SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [SQL#].[Convert_SddlSidToBinary](@UnencodedValue [nvarchar](100))
RETURNS [varbinary](100) WITH EXECUTE AS CALLER, RETURNS NULL ON NULL INPUT
AS 
EXTERNAL NAME [SQL#].[CONVERT].[SddlSidToBinary]
GO
