SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [SQL#].[Util_HashBinary](@Algorithm [nvarchar](50), @BaseData [varbinary](max))
RETURNS [varbinary](8000) WITH EXECUTE AS CALLER, RETURNS NULL ON NULL INPUT
AS 
EXTERNAL NAME [SQL#].[UTILITY].[HashBinary]
GO
