SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [SQL#].[Convert_ToBase64](@UnencodedValue [varbinary](max), @Base64FormattingOption [nvarchar](4000))
RETURNS [nvarchar](max) WITH EXECUTE AS CALLER, RETURNS NULL ON NULL INPUT
AS 
EXTERNAL NAME [SQL#].[CONVERT].[ToBase64]
GO
