SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [SQL#].[String_TryParseToDecimal](@ToParse [nvarchar](50), @Culture [nvarchar](10))
RETURNS [decimal](38, 20) WITH EXECUTE AS CALLER, RETURNS NULL ON NULL INPUT
AS 
EXTERNAL NAME [SQL#].[STRING].[TryParseToDecimal]
GO
