SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tSQLt].[Private_AssertEqualsTableSchema_Expected](
	[name] [nvarchar](256) NULL,
	[RANK(column_id)] [int] NULL,
	[system_type_id] [nvarchar](max) NULL,
	[user_type_id] [nvarchar](max) NULL,
	[max_length] [smallint] NULL,
	[precision] [tinyint] NULL,
	[scale] [tinyint] NULL,
	[collation_name] [nvarchar](256) NULL,
	[is_nullable] [bit] NULL,
	[is_identity] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
