SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tSQLt].[Private_NullCellTable](
	[I] [int] NULL,
 CONSTRAINT [U:tSQLt.Private_NullCellTable] UNIQUE CLUSTERED 
(
	[I] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [tSQLt].[Private_NullCellTable_StopModifications] ON [tSQLt].[Private_NullCellTable] INSTEAD OF DELETE, INSERT, UPDATE
AS
BEGIN
  IF EXISTS (SELECT 1 FROM tSQLt.Private_NullCellTable) RETURN;
  INSERT INTO tSQLt.Private_NullCellTable VALUES (NULL);
END;
GO
ALTER TABLE [tSQLt].[Private_NullCellTable] ENABLE TRIGGER [Private_NullCellTable_StopModifications]
GO
