SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [tSQLt].[FriendlySQLServerVersion](@ProductVersion NVARCHAR(128))
/* Important: Do not rename the @ProductVersion parameter! */
RETURNS TABLE
AS
RETURN
/* Important: Do not rename the @ProductVersion parameter! */
/*StartSnip*/
  SELECT 
      @ProductVersion ProductVersion, 
      CASE 
        WHEN SSV.Major = '15' THEN '2019' 
        WHEN SSV.Major = '14' THEN '2017' 
        WHEN SSV.Major = '13' THEN '2016' 
        WHEN SSV.Major = '12' THEN '2014' 
        WHEN SSV.Major = '11' THEN '2012' 
        WHEN SSV.Major = '10' AND SSV.Minor IN ('50','5') THEN '2008R2' 
        WHEN SSV.Major = '10' AND SSV.Minor IN ('00','0') THEN '2008' 
       END FriendlyVersion
/*EndSnip*/
/* Important: Do not rename the @ProductVersion parameter! */
    FROM tSQLt.Private_SplitSqlVersion(@ProductVersion) AS SSV;
GO
